<!DOCTYPE html>
{% extends './layout.html' %}

{% block content %}

<div class="container">
  <form>
    <div class="mb-3 row">
      <label for="make" class="col-xs-4 col-form-label">Make</label>
      <div class="col-xs-8">
        <input type="text" class="form-control" name="make" id="make" placeholder="Make">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="model" class="col-xs-4 col-form-label">Model</label>
      <div class="col-xs-8">
        <input type="text" class="form-control" name="model" id="model" placeholder="Honda">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="year" class="col-xs-4 col-form-label">Year</label>
      <div class="col-xs-8">
        <input type="text" class="form-control" name="year" id="year" placeholder="2005">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="color" class="col-xs-4 col-form-label">Color</label>
      <div class="col-xs-8">
        <input type="text" class="form-control" name="color" id="color" placeholder="blue">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="price" class="col-xs-4 col-form-label">Price</label>
      <div class="col-xs-8">
        <input type="text" class="form-control" name="price" id="price" placeholder="25000.00">
      </div>
    </div>
    <div class="mb-3 row">
      <div class="offset-sm-4 col-sm-8">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>

{% for car in cars %}
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Car: {{ car.id }}</h4>
    <p class="card-text">{{ car.make }}</p>
    <p class="card-text">{{ car.model }}</p>
    <p class="card-text">{{ car.year }}</p>
    <p class="card-text">{{ car.color }}</p>
    <p class="card-text">{{ car.price }}</p>
  </div>
</div>

{% endblock content %}